::-webkit-scrollbar {
  display: none;
}

.writing::after {
  content: " ";
  display: inline-block;
  position: absolute;
  bottom: 0;
  right: 5px;
  width: 25px;
  height: 10%;
  background-color: white;
  animation: blink 1s infinite step-end;
}

@keyframes blink {
  0%,
  100% {
    background-color: transparent;
  }

  50% {
    background-color: white;
  }
}

.writing {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100%;
  animation: writing 4s steps(28) 1s infinite alternate;
}

@keyframes writing {
  0% {
    width: 0%;
  }

  5% {
    width: 0%;
  }

  75% {
    width: 100%;
  }
}

.rotating-container {
  display: flex;
  gap: 20px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.rotating-item {
  flex: 0 0 auto;
  width: 25%;
  animation: rotate-horizontal 10s linear infinite;
}

@keyframes rotate-horizontal {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-417%);
  }
}

.pop {
  animation: Pop 1.5s ease-in-out infinite;
}

@keyframes Pop {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(1.2) rotate(-10deg);
  }
  60% {
    transform: scale(1.2) rotate(10deg);
  }
  80% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
